{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'home' %}>mPulse</a>
                </li>
                <li class="breadcrumb-item active">Create New</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Enter New Member Credentials
                </div>
                <div class="card-body">
                {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                  <form class="form-horizontal" action="create" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" name="first" id="first" required>
                                    <label for="first">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input  class="form-control" name="last"  id="inputLast" required>
                                    <label for="last">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="clientid" id="inputdescription" required>
                                    <label for="clientid">Client ID</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" name="accountid"  id="inputMobile">
                                    <label for="accountid">Account ID</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="telephone" name="telephone"  id="dateInput">
                                    <label for="telephone">Phone Number</label>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}