{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<div id="content-wrapper">           <!-- Member List Create, Edit, Delete Page-->
<div class="container-fluid">

<!-- Header -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">mPulse</a>
    </li>
    <li class="breadcrumb-item active">Manage Members</li>
</ol>
 <!-- Table Start-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Active Members
        <!-- Add Member Buttom -->
        <a  class="btn btn-sm btn-success" href="{% url 'create' %}" style="padding: 8px; float: right; background-color: green; color: white;">ADD</a>
    </div>

    <div class="card-body">
        <!-- Top Screen Message Flash -->
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        {% endfor %}
            <!-- Member Data Table Begin -->
        <div class="table-responsive">
        
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Account ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile Number</th>
                    <th>Client ID</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Data Columns -->
                {% for member in members %}
                    <tr>
                        <td>{{ member.accountid }}</td>
                        <td>{{ member.first }}</td>
                        <td>{{ member.last }}</td>
                        <td>{{ member.telephone }}</td>
                        <td>{{ member.clientid }}</td>                                 
                        <td>
                            <!-- Instant Edit and Delete Buttons-->
                            <a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"> <span class="fa fa-edit"></span> Edit</a>
                            <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="fa fa-trash"></span> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        
    </script>
{% endblock %}